body
{
    font-family: Lato; /* XXX what font is actually winning */
    font-size: 16pt;
}

.dotted
{
    /*
     * dotted-grid background
     * https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient()
     */
    background-size: 1em 1em;
    background-image: radial-gradient(circle, grey 1px,
        rgba(0, 0, 0, 0) 1px /* 2px here rounds off the dots */);
    padding: 0.5em; /* align child elements to dots */
}

@page
{
    size: A4;
    margin: 1cm;
    counter-increment: page;

    @bottom-right
    {
                content: counter(page);
    }
    @top-right
    {
            content: element(projects);
    }
    @top-left
    {
        content: element(year);
    }
}

.title
{
    font-size: 2em;
}

h1
{
    font-size: 1.6em;
    color: blue;
    margin: 0;
    margin-top: 0.5em;
}

.newpage
{
    counter-increment: chapterCounter;
    page-break-before: always;
}

p
{
    font-size: 20pt;
    color: red;
}

.hourstable
{
    width: 50%;
     border-collapse: collapse; /* otherwise default border-spacing: 2px; breaks alignment */
}

.hourstable td
{
    border-bottom: 1px dashed grey;
}

.hourstable th
{
    text-align: center;
}

.hourstable tr
{
    height: 4em;
}

.hours
{
    border-right: 1px solid grey;
    width:10%;
    margin: 0;
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.hour-8, .hour-12, .hour-17, .hour-18 /* before, after work; lunch */
{
    background: #ccc;
}
.hour-8 { border-bottom: 8px dashed #aaa !important; }
.hour-12{ border-bottom: 8px dashed #aaa !important;
          border-top:    8px dashed #aaa;
      }
.hour-17{ border-top:    8px dashed #aaa; }

/* hack for school run */
.hour-15
{
    background: #ccc;
    border-top:    8px dashed #aaa;
    border-bottom: 1em solid white !important;
}

/* hack for wind-down */
.hour-16
{
    border-bottom: 1em dotted #ccc !important;
}

.monthflex
{
    display: flex;
    flex-wrap: wrap;
}
.monthflex .month
{
    flex: 1;/*grow*/
}

#projects
{
    position: running(projects);
    padding: 0;
    font-size: smaller;
}
#projects a
{
    border: 1px solid black;
    padding: 0.2em;
}

#year
{
    position: running(year);
}

/* used for month headings */
h3
{
    margin-bottom: 0;
    font-size: large;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
